<f:section name="aFile__li">
    <li class="list-group-item {aFile.sys_file__extension}">
        <f:if condition="{aFile.sys_file__extension} != ''">
            <f:if condition="{aFile.sys_file_metadata__link_to} == ''">
                <f:then>
                    <span class="glyphicon glyphicon-file"></span>
                </f:then>
                <f:else>
                    <span class="glyphicon glyphicon-share"></span>
                </f:else>
            </f:if>
        </f:if>
        <f:if condition="{aFile.sys_file_metadata__link_to} != ''">
            <f:then>
                <a href="{f:uri.typolink(parameter: '{aFile.sys_file_metadata__link_to}')}" class="{aFile.sys_file__extension}" target="_blank">
                    {aFile.sys_file_metadata__title}
                </a>
            </f:then>
            <f:else>
                <a href="{aFile.sys_file__identifier}" class="{aFile.sys_file__extension}" target="_blank">
                    {aFile.sys_file_metadata__title}
                </a>
            </f:else>
        </f:if>
        <f:if condition="{aFile.sys_file__size} > 0">
            <span class="label label-default sys_file__size">{aFile.sys_file__size}</span>
        </f:if>
        <f:if condition="{aFile.sys_file__extension} != ''">
            <f:if condition="{aFile.sys_file_metadata__link_to} == ''">
                <span class="label label-default sys_file__extension">{aFile.sys_file__extension}</span>
            </f:if>
        </f:if>

    </li>
</f:section>