<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{bDebug}">
        <f:debug title="SelectMonth">{aBody}</f:debug>
    </f:if>

    <section class="tx-teufels-ext-dlc__select tx-sdg-16-ext-dlc__select">

        <f:if condition="{aBody.aHtml.aOptions -> f:count()} > 0">
            <f:then>
                <f:if condition="{aBody.aHtml.sSelected} == ''">
                    <f:then>
                        <f:form.select class="tx-teufels-ext-dlc__select tx-sdg-16-ext-dlc__select form-control input-lg"
                                       name="{aBody.aHtml.name}"
                                       id="{aBody.aHtml.id}"
                                       options="{aBody.aHtml.aOptions}"
                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.month.label')}"/>
                    </f:then>
                    <f:else>
                        <f:form.select class="tx-teufels-ext-dlc__select tx-sdg-16-ext-dlc__select form-control input-lg"
                                       name="{aBody.aHtml.name}"
                                       id="{aBody.aHtml.id}"
                                       options="{aBody.aHtml.aOptions}"
                                       value="{aBody.aHtml.sSelected}"
                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.month.label')}"/>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <select class="tx-teufels-ext-dlc__select form-control input-lg"
                        name="{aBody.aHtml.name}"
                        id="{aBody.aHtml.id}"
                        disabled>
                    <option value>
                        <f:translate key="LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.month.label" />
                    </option>
                </select>
            </f:else>
        </f:if>

    </section>

</f:section>