<f:layout name="Default" />
<f:section name="main">
    <style>
        select:disabled {
            opacity: 0.3;
        }
        input.tx-teufels-ext-dlc__submit {
            display: block;
            width: 100%;
        }
    </style>
    <f:if condition="{bDebug}">
        <f:debug title="Filter">{aBody}</f:debug>
    </f:if>

    <div class="clearfix"></div>
    <section class="tx-teufels-ext-dlc__filter">
        <f:form actionUri="{aBody.aFilter.sUrl}">
            <!-- Filter -->
            <input type="hidden" name="tx_teufelsextdlc_teufelsextdlcrenderfilter[version]" value="1" class="hidden appendToPagination" />
            <input type="hidden" name="tx_teufelsextdlc_teufelsextdlcrenderfilter[get]" value="files" class="hidden appendToPagination" />
            <input type="hidden" name="tx_teufelsextdlc_teufelsextdlcrenderlist[version]" value="1" />
            <input type="hidden" name="tx_teufelsextdlc_teufelsextdlcrenderlist[get]" value="files" />


            <f:cObject typoscriptObjectPath="lib.tx_teufelsextdlc_teufelsextdlcrenderlistpages" />

            <f:comment>


            <div class="row">
                <div class="col-md-4">
                    <f:if condition="{aBody.aFilter.aInput.0.selected} == ''">
                        <f:then>
                            <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                           options="{aBody.aFilter.aInput.0.options}"
                                           name="{aBody.aFilter.aInput.0.name}"
                                           id="{aBody.aFilter.aInput.0.id}"
                                           additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.0\')}'}"
                                           prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.0')}"/>
                        </f:then>
                        <f:else>
                            <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                           options="{aBody.aFilter.aInput.0.options}"
                                           name="{aBody.aFilter.aInput.0.name}"
                                           id="{aBody.aFilter.aInput.0.id}"
                                           value="{aBody.aFilter.aInput.0.selected}"
                                           additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.0\')}'}"
                                           prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.0')}"/>
                        </f:else>
                    </f:if>



                    <!--<select name="sys_file_metadata_pages_mm_0" id="sys_file_metadata_pages_mm_0" disabled>-->
                        <!--<option>-->
                            <!--...-->
                        <!--</option>-->
                    <!--</select>-->
                </div>
                <div class="col-md-4">
                    <f:if condition="{aBody.aFilter.aInput.1 -> f:count()} > 0">
                        <f:if condition="{aBody.aFilter.aInput.1.options -> f:count()} > 0">
                            <f:then>
                                <f:if condition="{aBody.aFilter.aInput.1.selected} == ''">
                                    <f:then>
                                        <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                                       options="{aBody.aFilter.aInput.1.options}"
                                                       name="{aBody.aFilter.aInput.1.name}"
                                                       id="{aBody.aFilter.aInput.1.id}"
                                                       additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1\')}'}"
                                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1')}"/>
                                    </f:then>
                                    <f:else>
                                        <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                                       options="{aBody.aFilter.aInput.1.options}"
                                                       name="{aBody.aFilter.aInput.1.name}"
                                                       id="{aBody.aFilter.aInput.1.id}"
                                                       value="{aBody.aFilter.aInput.1.selected}"
                                                       additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1\')}'}"
                                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1')}"/>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <select class="select tx-teufels-ext-dlc__select appendToPagination"
                                        name="tx_teufelsextdlc_teufelsextdlcrenderfilter[{aBody.aFilter.aInput.1.name}]" id="{aBody.aFilter.aInput.1.id}"
                                        data-default="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1')}"
                                        disabled>
                                    <option value>
                                        {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.1')}
                                    </option>
                                </select>
                            </f:else>
                        </f:if>

                    </f:if>
                </div>
                <div class="col-md-4">
                    <f:if condition="{aBody.aFilter.aInput.2 -> f:count()} > 0">
                        <f:if condition="{aBody.aFilter.aInput.2.options -> f:count()} > 0">
                            <f:then>
                                <f:if condition="{aBody.aFilter.aInput.2.selected} == ''">
                                    <f:then>
                                        <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                                       options="{aBody.aFilter.aInput.2.options}"
                                                       name="{aBody.aFilter.aInput.2.name}"
                                                       id="{aBody.aFilter.aInput.2.id}"
                                                       additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2\')}'}"
                                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2')}"/>
                                    </f:then>
                                    <f:else>
                                        <f:form.select class="select tx-teufels-ext-dlc__select appendToPagination"
                                                       options="{aBody.aFilter.aInput.2.options}"
                                                       name="{aBody.aFilter.aInput.2.name}"
                                                       id="{aBody.aFilter.aInput.2.id}"
                                                       value="{aBody.aFilter.aInput.2.selected}"
                                                       additionalAttributes="{data-default: '{f:translate(key: \'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2\')}'}"
                                                       prependOptionLabel="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2')}"/>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <select class="select tx-teufels-ext-dlc__select appendToPagination"
                                        name="tx_teufelsextdlc_teufelsextdlcrenderfilter[{aBody.aFilter.aInput.2.name}]" id="{aBody.aFilter.aInput.2.id}"
                                        data-default="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2')}"
                                        disabled>
                                    <option value>
                                        {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.pages.select.level.2')}
                                    </option>
                                </select>
                            </f:else>
                        </f:if>

                    </f:if>
                </div>
            </div>
            </f:comment>
            <div class="row">
                <div class="col-md-4">
                    <f:cObject typoscriptObjectPath="lib.tx_teufelsextdlc_teufelsextdlcrenderlistcategories" />
                </div>
                <div class="col-md-4">
                    <input type="submit"
                           class="tx-teufels-ext-dlc__submit"
                           value="{f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.filter.submit')}" />
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </f:form>
    </section>


    <f:if condition="{aBody.bError} == 1">
        <f:then>
            <div class="alert alert-danger" role="alert">
                {aBody.bError.sDescription.message}
            </div>
        </f:then>
        <f:else>

        </f:else>
    </f:if>

</f:section>

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
</ul>