<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{bDebug}">
        <f:debug title="ListCategories">{aBody}</f:debug>
    </f:if>

    <section class="tx-teufels-ext-dlc__listcategories">
        <f:if condition="{aBody.bError} == 1">
            <f:then>
                <div class="alert alert-danger" role="alert">
                    {aBody.bError.sDescription.message}
                </div>
            </f:then>
            <f:else>
                <f:if condition="{aBody.aHtml.options -> f:count()} > 0">
                    <f:then>
                        <select class="tx-teufels-ext-dlc__select"
                                name="{aBody.aHtml.name}"
                                id="{aBody.aHtml.id}">
                            <option value>
                                {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.categories.select.default')}
                            </option>
                            <f:for each="{aBody.aHtml.options}" as="aOption" key="k">
                                <f:if condition="{aOption.1 -> f:count()} > 0">
                                    <f:then>
                                        <optgroup label="{aOption.0}">

                                            <f:for each="{aOption.1}" as="sOption" key="kk">
                                                <f:if condition="{aBody.aHtml.selected} == {kk}">
                                                    <f:then>
                                                        <option value="{kk}" selected>
                                                            {sOption}
                                                        </option>
                                                    </f:then>
                                                    <f:else>
                                                        <option value="{kk}">
                                                            {sOption}
                                                        </option>
                                                    </f:else>
                                                </f:if>
                                            </f:for>

                                        </optgroup>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{aBody.aHtml.selected} == {k}">
                                            <f:then>
                                                <option value="{k}" selected>
                                                    {aOption.0}
                                                </option>
                                            </f:then>
                                            <f:else>
                                                <option value="{k}">
                                                    {aOption.0}
                                                </option>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </select>
                    </f:then>
                    <f:else>
                        <select class="tx-teufels-ext-dlc__select" name="{aBody.aHtml.name}" id="{aBody.aHtml.id}" disabled>
                            <option value>
                                {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.categories.select.default')}
                            </option>
                        </select>
                    </f:else>
                </f:if>

            </f:else>
        </f:if>
    </section>

</f:section>