<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{bDebug}">
        <f:debug title="List">{aBody}</f:debug>
    </f:if>

    <section class="tx-teufels-ext-dlc__list">
        <f:if condition="{aBody.bError} == 1">
            <f:then>
                <div class="alert alert-danger" role="alert">
                    {aBody.bError.sDescription.message}
                </div>
            </f:then>
            <f:else>

                <f:if condition="{aBody.aHtml.Count} > 0">
                    <f:else>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Count -->
                                <button class="btn btn-primary disabled" type="button">
                                    <span class="badge">{aBody.aHtml.Count}</span> {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.filter.result.none')}
                                </button>
                            </div>
                        </div>
                    </f:else>
                    <f:then>

                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <!-- Count -->
                                    <button class="btn btn-primary disabled" type="button">
                                        <f:if condition="{aBody.aHtml.Count} > 1">
                                            <f:then>
                                                <span class="badge">{aBody.aHtml.Count}</span> {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.filter.result.multiple')}
                                            </f:then>
                                            <f:else>
                                                <span class="badge">{aBody.aHtml.Count}</span> {f:translate(key: 'LLL:EXT:teufels_ext_dlc/Resources/Private/Language/translation.xlf:tx_teufelsextdlc_domain_model_render.filter.result.single')}
                                            </f:else>
                                        </f:if>
                                    </button>

                                </div>
                                <div class="col-sm-10 text-right">
                                    <!-- Pagination -->
                                    <f:render partial="Render/Shared/Nav/Index" section="nav__pagination"
                                              arguments="{aPagination: aBody.aHtml.Pagination, sClass: 'tx-teufels-ext-dlc__pagination'}"/>
                                </div>
                            </div>

                            <!-- List -->
                            <div class="row">
                                <f:for each="{aBody.aHtml.Files}" as="aCategory" iteration="i">

                                    <div class="col-md-12">
                                        <h3>
                                            {aCategory.0.sys_category__title}
                                        </h3>
                                        <ul class="list-group">
                                            <f:for each="{aCategory}" as="aFile" iteration="ii">
                                                <f:render partial="Render/Shared/Li/Index" section="aFile__li" arguments="{aFile: aFile}"/>
                                            </f:for>
                                        </ul>
                                    </div>

                                </f:for>
                            </div>

                    </f:then>
                </f:if>

            </f:else>
        </f:if>
    </section>

</f:section>

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
</ul>