<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{bDebug}">
        <f:debug>{aBody}</f:debug>
    </f:if>

    <f:if condition="{aBody.bError} == 1">
        <f:then>
            <div class="alert alert-danger" role="alert">
                {aBody.bError.sDescription.message}
            </div>
        </f:then>
        <f:else>

            <f:if condition="{aBody.aHtml -> f:count()} > 0">
                <f:else>

                </f:else>
                <f:then>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <f:for each="{aBody.aHtml}" as="aCategory" iteration="i">
                            <f:if condition="{i.isFirst}">
                                <f:then>
                                    <li role="presentation" class="active">
                                        <a href="#tab_{i.cycle}" role="tab" data-toggle="tab">
                                            {aCategory.0.sys_category__title}
                                        </a>
                                    </li>
                                </f:then>
                                <f:else>
                                    <li role="presentation" class="">
                                        <a href="#tab_{i.cycle}" role="tab" data-toggle="tab">
                                            {aCategory.0.sys_category__title}
                                        </a>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <f:for each="{aBody.aHtml}" as="aCategory" iteration="i">
                            <f:if condition="{i.isFirst}">
                                <f:then>
                                    <div role="tabpanel" class="tab-pane active" id="tab_{i.cycle}">
                                        <ul class="list-group">
                                            <f:for each="{aCategory}" as="aFile" iteration="ii">
                                                <f:render partial="Render/Shared/Li/Index" section="aFile__li" arguments="{aFile: aFile}"/>
                                            </f:for>
                                        </ul>
                                    </div>
                                </f:then>
                                <f:else>
                                    <div role="tabpanel" class="tab-pane" id="tab_{i.cycle}">
                                        <ul class="list-group">
                                            <f:for each="{aCategory}" as="aFile" iteration="ii">
                                                <f:render partial="Render/Shared/Li/Index" section="aFile__li" arguments="{aFile: aFile}"/>
                                            </f:for>
                                        </ul>
                                    </div>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </f:then>
            </f:if>

        </f:else>
    </f:if>

</f:section>

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
</ul>